@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
@layer base {
  body {
    @apply min-h-screen;
  }

  main {
    @apply min-h-screen w-full flex flex-col;
  }
  section {
    @apply h-[calc(100vh-80px)] w-full flex flex-col justify-center items-center text-dark-gray;
    /* @apply border border-blue-500; */
  }

  section:last-of-type {
    @apply mb-0;
  }
}
/* Work Section */

/* Animations */
circle,
rect,
line {
  stroke-width: 10px;
  stroke-linecap: round;
  fill: transparent;
}
