@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

.bg-home {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../public/header-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-about {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../public/ny-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.bg-skills {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../public/services-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.bg-work {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../public/port-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.bg-artwork {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../public/art-wall.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.bg-contact {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../public/end-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
